<!DOCTYPE html>
<html>
    <% include ./partials/head %>
  <body>
    <br><br><br>
    <% include ./partials/nav %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Thanks for buying my shit</h1>
        <p class="lead"></p>
      </div>
    </div>
    
    <% include ./partials/footer %>
  </body>
  </html>