body {
  padding: 50px;
  background: -webkit-linear-gradient(right, rgb(180, 166, 166), blue)
}

.row {
    padding-bottom: 25px;
}

.card {
    width: 18rem;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 430px;
}