<!DOCTYPE html>
<html>
  <% include ../partials/head %> <% include ../partials/nav %>
  <body>
    <div class="row">

      <% include ../partials/nav %>
      <% for(let i = 0; i < products.length; i++) { %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <a href="/api/product/">
            <img
              class="card-img-top"
              src="<%= products[i].image %>"
              alt="Card image cap"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Name: <%= products[i].name %></h5>
            <p class="card-text">Category: <%= products[i].category.name %></p>
            
            <p class="card-text">$ <%= products[i].price %></p>

            <a href="/api/products/5dae1578534a8c4ef4404124" class="btn btn-primary">Shop</a>
          </div>
        </div>
      </div>
      <% } %>

    </div>
  </body>
  <% include ../partials/footer %>
</html>
